<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476648750057-0h9pdbguejallpsl582ja5ifpd76h6la.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476648750057-0h9pdbguejallpsl582ja5ifpd76h6la</string>
	<key>API_KEY</key>
	<string>AIzaSyB2iJ2bInHhgANE1NaGi_n8LNbaHoDCOw8</string>
	<key>GCM_SENDER_ID</key>
	<string>476648750057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mts-soft.nikotama001</string>
	<key>PROJECT_ID</key>
	<string>nikotama001-214105</string>
	<key>STORAGE_BUCKET</key>
	<string>nikotama001-214105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476648750057:ios:bcb8a5e7a35df3dbe62978</string>
	<key>DATABASE_URL</key>
	<string>https://nikotama001-214105.firebaseio.com</string>
</dict>
</plist>